.gitignore
/ColabNotebooks/.ipynb_checkpoints
/ColabNotebooks/flagged
/datosimg/general100
/datosimg/general100mod128
/datosimg/general100mod128secuencia
/datosimg/general100resultado128
/datosimg/pruebas
/datosimg/pruebasSRGAN
/salida/redautoencoderAC2_128pesos
/salida/redautoencoderAC2_128RGBpesos
/salida/redautoencoderEB128pesos
/salida/redautoencoderEB128RGBpesos
/salida/redcombinada128_epoca1pesos
/salida/redcombinada128RGB_epoca1pesos
/salida/redcombinada128_epoca1.h5
/salida/redcombinada128RGB_epoca1.h5
